<% provide(:title, 'Test Event') %>
<link href="/assets/ripples.css" rel="stylesheet">
<link href="/assets/material-wfont.css" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<script src="//code.jquery.com/jquery-1.8.3.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script src="/assets/ripples.js" type="text/javascript"></script>
<script src="/assets/material.js" type="text/javascript"></script>

<h1 class="visible-lg-block" align="center">Attendance Registration</h1>
<h2 class="visible-md-block" align="center">Attendance Registration</h2>
<h3 class="visible-sm-block" align="center">Attendance Registration</h3>
<h4 class="visible-xs-block" align="center">Attendance Registration</h4>
<div class="row-fluid">
	  <%= form_for(@attendance) do |f| %>
	  	<%= render 'shared/attendance_error_messages' %>
	<div class="span12" style="padding-top: 10px;">
		<%= f.label :email, style:";"%>
		<%= f.text_field :email, class: "form-control floating-label" %>
	</div>
	<div class="span12" style="padding-top: 10px;">
		<%= f.label :code, style:";" %>
		<%= f.text_field :code, :autocomplete => :off, class: "form-control floating-label"%>
	</div>
	<div class="span12" align="center" style="padding-top: 10px;">
		<%= f.submit "Log Attendance", class: "btn btn-large btn-material-lightgreen visible-lg-block" %>
		<%= f.submit "Log Attendance", class: "btn btn-md btn-material-lightgreen visible-md-block" %>
		<%= f.submit "Log Attendance", class: "btn btn-sm btn-material-lightgreen visible-sm-block" %>
		<%= f.submit "Log Attendance", class: "btn btn-xs btn-material-lightgreen visible-xs-block" %>
	</div>
	<% end %>
</div>